.main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.header {
  width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  background-color: var(--active);
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.body {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
}

.halfPage {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.imageSection {
  background-color: black ;
  position: relative;
}

.questionSection {
  background-color: var(--bs-body-color);
}

.question {
  display: flex;
  align-items: center;
  max-width: 700px;
  min-width: 400px;
}

.sectionLabel {
  background: var(--title);
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  padding: 0.75rem;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 5rem;
  cursor: pointer;
}

.label {
  width: 20%;
  font-size: 1rem;
  color: var(--label);
}

.checkboxSection {
  flex: 1;
  display: grid;
}

.radioGroup {
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
}

.error {
  font-weight: 100;
  color: var(--error);
}

.price {
  color: var(--price);
  font-weight: 500;
}

.bottomSection {
  height: 1.5rem;
  /* overflow: hidden; */
}

.hidden {
  visibility: hidden;
}

.link {
  color: var(--link);
  font-weight: 100;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 50%;
}

.mat-radio-button {
  width: calc(100% / 9);
}

.truthy .mat-radio-button {
  width: calc(100% / 5) !important;
}

.truthy .label {
  width: 20%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.buttons button {
  width: 30%;
  max-width: 250px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 800;
}

.secondary {
  background-color: white !important;
  border: 2px solid var(--button);
  color: var(--button) !important;
  font-weight: bold;
}

.primary {
  background-color: var(--button) !important;
  color: var(--buttonText) !important;
}

.header i {
  font-size: 3rem;
}

.truthyCheckbox {
  width: calc(100% / 6);
}

.imageSection img {
  width: 100%;
}

.burgerMenu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: goldenrod;
  display: flex;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.burgerMenu i {
  padding: 0.5rem;
  font-size: 1.75rem;
}

.mat-drawer-container {
  height: 100%;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navButtons {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--page);
  min-width: 15vw;
  max-width: 20vw;
}

.navBtn {
  padding: 1.5rem 3rem 1.5rem 1rem;
  border: none;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.imageContainer {
  height: 100%;
  overflow: auto;
}

.mat-drawer-content {
  overflow: unset !important;
}

.section {
  margin-bottom: 3rem !important;
  border-bottom: 2px solid gold;
  padding-bottom: 2rem;
}

.label span {
  color: var(--danger);
}
