<div class="main">
  <div class="header pe-4 ps-4">
    <i (click)="goBack()" class="bi bi-arrow-left"></i>
    <div></div>
    <div>
      <h2 class="m-0">Total: <span>{{ total | currency }}</span></h2>
    </div>
  </div>
  <div class="body">
    <div class="halfPage imageSection">
      <mat-drawer-container [hasBackdrop]="true">
        <mat-drawer #drawer [mode]="'over'" autoFocus="false">
          <div class="sidebar">
            <div class="navButtons">
              <div class="navBtn">
                PISOS
              </div>
            </div>
          </div>
        </mat-drawer>

        <ng-container *ngFor="let image of images; let i = index;">
          <img [src]="image.url" />
        </ng-container>
        <div class="burgerMenu"  (click)="drawer.toggle()">
          <i class="bi bi-list"></i>
        </div>

      </mat-drawer-container>



    </div>

    <div class="halfPage questionSection p-4">

      <div *ngFor="let section of sections; let i = index;" class="mb-4">
        <h2 class="sectionLabel">{{ section.label }}</h2>

        <div *ngFor="let question of section.questions; let m = index" [id]="question.id" class="question mb-2" [ngClass]="question.type == 1 ? 'truthy' : ''">
          <label class="label">{{ question.displayLabel }}<ng-container *ngIf="question?.required">*</ng-container></label>
          <section class="checkboxSection ps-2">

            <div class="topSection pb-1" [ngClass]="(question?.price != undefined || (question.error == true && verifying == true && question.enabled == true)) ? '' : 'hidden'">
              <span class="error">{{(question.error == true && verifying == true && question.enabled == true) ? 'Error' : ''}}</span>
              <span class="price">{{question.price != undefined ? (question.price | currency) : ''}}</span>
            </div>

            <mat-radio-group aria-label="Select an option" class="radioGroup">
              <mat-radio-button [ngClass]="question.type == 'truthy' ? 'truthyCheckbox' : ''" [disabled]="!question.enabled" (change)="selectOption($event.value, question)" class="radioButton" disableRipple="true" *ngFor="let choice of question.options" [value]="choice.value" [checked]="question.choice == choice.value">
                {{ choice.label }}
              </mat-radio-button>
            </mat-radio-group>

            <div class="bottomSection pt-1" [ngClass]="question?.link == undefined ? 'hidden' : ''">
              <a [href]="question.link" target="_blank"><span class="link">{{question.link}}</span></a>
            </div>
          </section>
        </div>
      </div>

      <div class="buttons pt-4">
        <button mat-raised-button class="primary" (click)="save()">SAVE</button>
        <button mat-raised-button class="primary" (click)="save()">CONTINUE</button>
      </div>

    </div>
  </div>
</div>

