<div class="container">
  <div class="loginPage">

    <img src="../../../assets/imgs/logo.png" />

    <div class="loginSection">
      <mat-form-field appearance="fill">
        <mat-label>Enter your CPF or CNPJ</mat-label>
        <!-- [(ngModel)]="cpf_cnpj" -->
        <input matInput placeholder="pat@example.com" [formControl]="cpfForm" required  maxlength="18"
        (keyup)="(cpfForm.value && cpfForm.value.length < 15) ? cpfChange($event) : cnpjChange($event)">
        <mat-error *ngIf="hasErrors && !(cpfForm?.value?.length == 14 || cpfForm?.value?.length == 17)">Not valid CPF or CNPJ</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your apartment</mat-label>
        <!--  [(ngModel)]="apartment" -->
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="aptForm">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="buttonsSection">
        <span [ngClass]="hasErrors ? 'visible' : 'invisible'">CPF/CNPJ or Apartment invalid!</span>
        <button mat-raised-button (click)="login()">Login</button>
      </div>
    </div>
  </div>

  <div class="footer">

  </div>
</div>
